<!doctype html> 
<html>
<head>
<meta charset="utf-8"/> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body onload="loadPage()">

<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

{% include "registration/account.html" %}

<p><a href="/recent_changes">Recent changes</a></p>

<div id="map" style="height:380px;"></div>

<table id="resulttable">
</table>

<script>
function loadPage() {

}
</script>

<script>
	var map = L.map('map').setView([53.0, -1.0], 7);

	var markerGroup = L.layerGroup()
	markerGroup.addTo(map)

	var initialMarkers = {% autoescape off %}{{recordsJson}}{% endautoescape %};
	setMapMarkers(initialMarkers);
	setTableResults(initialMarkers);

	var dragZoomTimeout;

	function onMapClick(e) {
	}

	function onMapZoomStart(e) {
		clearTimeout(dragZoomTimeout);
	}

	function onMapZoomEnd(e) {
		dragZoomTimeout = setTimeout(function(){ updatePois(map.getBounds()) }, 1000);
	}

	function onMapMoveStart(e) {
		clearTimeout(dragZoomTimeout);
	}

	function onMapMoveEnd(e) {
		dragZoomTimeout = setTimeout(function(){ updatePois(map.getBounds()) }, 1000);
	}

	function setMapMarkers(results){
		markerGroup.clearLayers()		
		var resultsLen = results.length;
		for (var i = 0; i < resultsLen; i++) {
			var record = results[i];

			var marker = L.marker([record.lat, record.lon]);
			marker.bindPopup("<a href='record/"+record.id+"'>"+record.name+"</a>")
			markerGroup.addLayer(marker)
		}
	}

	function setTableResults(results){
		var resultTable = document.getElementById("resulttable");
		resultTable.innerHTML = "";
		var resultsLen = results.length;
		for (var i = 0; i < resultsLen; i++) {
			var record = results[i];
			var tr = $('<tr/>').appendTo(resultTable);
			var td = $('<td/>').appendTo(tr);
			var alink = $('<a/>').text(record.name).appendTo(td);
			alink.attr('href', "/record/"+record.id);
		}
	}

	function updatePois(bbox) {
		//alert("updatePois "+bbox.getCenter());
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			var results = JSON.parse(this.responseText);
			setMapMarkers(results)
			setTableResults(results)

		}
		};
		xhttp.open("GET", "/query?bbox="+bbox.getWest()+","+bbox.getSouth()+","+bbox.getEast()+","+bbox.getNorth(), true);
		xhttp.send();
	}

	L.tileLayer('http://draco.openstreetmap.org/sv-2013-11/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://www.ordnancesurvey.co.uk/business-and-government/products/opendata-products.html">Ordnance Survey Data</a> © Crown copyright and database right 2013. Hosted by <a href="http://www.openstreetmap.org/">OSM</a>.',
		maxZoom: 17
	}).addTo(map);

	map.on('click', onMapClick);
	map.on('zoomstart', onMapZoomStart);
	map.on('zoomend ', onMapZoomEnd);
	map.on('movestart', onMapMoveStart);
	map.on('moveend ', onMapMoveEnd);

</script>

</body>
</html>

