<!doctype html> 
<html>
<head>
<meta charset="utf-8"/> 
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
</head>

<body onload="loadPage()">

<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<div id="map" style="height:380px;"></div>

<table>
{% for record in records %}
<tr><td><a href="/record/{{record.id}}">{{record.currentName}}</a></td></tr>
{% endfor %}
</table>

<script>
function loadPage() {

}
</script>

<script>
	var map = L.map('map').setView([53.0, -1.0], 7);

    var RedIcon = L.Icon.Default.extend({
	options: {iconUrl: '/static/gis/marker-icon-red.png'}
	});
	var redIcon = new RedIcon();
    var BlueIcon = L.Icon.Default.extend({
	options: {iconUrl: '/static/gis/marker-icon.png'}
	});
	var blueIcon = new BlueIcon();

{%for record in records%}
	var marker{{record.id}} = L.marker([{{record.currentPosition.y}}, {{record.currentPosition.x}}], {icon: redIcon}).addTo(map);
{%endfor%}
{%for record in records%}
	marker{{record.id}}.bindPopup("<a href='record?record={{record.id}}'>{{record.currentName}}</a>")
{%endfor%}

	function onMapClick(e) {
		//alert("You clicked the map at " + e.latlng);
		document.getElementById('lat').value=e.latlng.lat;
		document.getElementById('lon').value=e.latlng.lng;  
	}

	L.tileLayer('http://draco.openstreetmap.org/sv-2013-11/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://www.ordnancesurvey.co.uk/business-and-government/products/opendata-products.html">Ordnance Survey Data</a> © Crown copyright and database right 2013. Hosted by <a href="http://www.openstreetmap.org/">OSM</a>.',
		maxZoom: 17
	}).addTo(map);

	map.on('click', onMapClick);

</script>

</body>
</html>

