<!doctype html> 
<html>
<head>
<meta charset="utf-8"/> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
</head>

<body onload="loadPage()">

<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>

<div id="map" style="height:380px;"></div>

<table>
{% for record in records %}
<tr><td><a href="/record/{{record.id}}">{{record.currentName}}</a></td></tr>
{% endfor %}
</table>

<script>
function loadPage() {

}
</script>

<script>
	var map = L.map('map').setView([53.0, -1.0], 7);

    //var RedIcon = L.Icon.extend({
	//options: {iconUrl: '/static/gis/marker-icon-red.png'}
	//});
	//var redIcon = new RedIcon();

{%for record in records%}
	var marker{{record.id}} = L.marker([{{record.currentPosition.y}}, {{record.currentPosition.x}}]).addTo(map);
{%endfor%}
{%for record in records%}
	marker{{record.id}}.bindPopup("<a href='record?record={{record.id}}'>{{record.currentName}}</a>")
{%endfor%}

	var dragTimeout;

	function onMapClick(e) {
		//alert("You clicked the map at " + e.latlng);
		//document.getElementById('lat').value=e.latlng.lat;
		//document.getElementById('lon').value=e.latlng.lng;  
	}

	function onMapZoomStart(e) {

	}

	function onMapZoomEnd(e) {

	}

	function onMapMoveStart(e) {
		clearTimeout(dragTimeout);
	}

	function onMapMoveEnd(e) {
		dragTimeout = setTimeout(function(){ alert("Move end"+map.getBounds().getCenter()); }, 3000);
	}

	L.tileLayer('http://draco.openstreetmap.org/sv-2013-11/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://www.ordnancesurvey.co.uk/business-and-government/products/opendata-products.html">Ordnance Survey Data</a> © Crown copyright and database right 2013. Hosted by <a href="http://www.openstreetmap.org/">OSM</a>.',
		maxZoom: 17
	}).addTo(map);

	map.on('click', onMapClick);
	map.on('zoomstart', onMapZoomStart);
	map.on('zoomend ', onMapZoomEnd);
	map.on('movestart', onMapMoveStart);
	map.on('moveend ', onMapMoveEnd);

</script>

</body>
</html>

