<html>
<header>
</header>
<body>
{% include "registration/account.html" %}

<h2>{{record.currentName}}</h2>
<a href="/dataset_series/{{datasetSeries.id}}">{{datasetSeries.name}}</a><br/>
<table>
<tr><td>Position</td><td>{{record.currentPosition}}</td></tr>
<tr><td>External ID</td><td>{{record.externalId}}</td></tr>

{% for k, v in annotations.items %}
<tr><td>{{k}}</td><td>{{v.data}}</td></tr>
{% endfor %}

</table>

{% if user.is_authenticated %}
<a href="/record/{{record.id}}/edit">Edit</a></br>
{% endif %}
<a href="/record/{{record.id}}/history">History</a>

<h3>Snapshots</h3>
<ul>
{% for snapshot in snapshots %}
<li><a href="/record/{{record.id}}/snapshot/{{snapshot.id}}">{{snapshot.name}}</a></li>
{% endfor %}
</ul>

<a href="/">Home</a>

</body>
</html>
