{% include "registration/account.html" %}

<h2>{{record.currentName}}</h2>
{{datasetSeries.name}}<br/>
{% if action_msg %}
<h3>{{action_msg}}</h3>
{% endif %}
<form method="post">
{% csrf_token %}
<table>
<tr><td>Name</td><td><input type="text" name="name" value="{{record.currentName}}" /></td></tr>
<tr><td>Lat</td><td><input type="text" name="lat" value="{{record.currentPosition.y}}" /></td></tr>
<tr><td>Lon</td><td><input type="text" name="lon" value="{{record.currentPosition.x}}" /></td></tr>
</table>

<input type="submit" name="action" value="Update" />
</form>
<a href="/record/{{record.id}}">View</a>

